/.idea
/cmake-build-debug/*
/dump
/dump2
/Testing
/CMakeFiles
/CMakeCache.txt
/Makefile
/cmake_install.cmake
/ip_proxy.cbp
/client
!/client/main.cpp
!/client/CMakeLists.txt
/endpoint-server
!/endpoint-server/main.cpp
!/endpoint-server/CMakeLists.txt


