/.idea
/cmake-build-debug/*
/dump
/dump2
/Testing
/CMakeFiles
/CMakeCache.txt
/Makefile
/cmake_install.cmake
/ip_proxy.cbp

/endpoint-server
!/endpoint-server/main.cpp
!/endpoint-server/CMakeLists.txt


